.project__container :is(.section__header, .section__description) {
    width: fit-content;
    margin-inline: auto;
    text-align: center;
}
.project__container .section__header::after {
    left: 50%;
    transform: translateX(-50%);
}

.project__grid {
    margin-top: 4rem;
    display: grid;
    align-items: center;
}

.project__card {
    height: 100%;
    display: grid;
    align-items: center;
}

.project__card img {
    height: 100%;
    object-fit: cover;
}

.project__content {
    padding: 2rem 1rem;
}

.project__content h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.project__content h5 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
}

.project__content p {
    margin-block: 1rem;
    color: var(--text-light);
}

.project__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project__socials a {
    font-size: 1.2rem;
    color: var(--text-light);
}
.project__socials a:hover {
    color: var(--primary-color);
  }
  